#id_bryggnr, #id_navn, #id_dato, #id_og, #id_fg, #id_abv, #id_effektivitet, #id_kommentar {
    width: 100%;
}

#id_malt_1, #id_malt_2, #id_malt_3, #id_malt_4, #id_malt_5, #id_humle_1, #id_humle_2, #id_humle_3, #id_humle_4, #id_humle_5 {
    width: 100%;
}

#id_m_mengde_1, #id_m_mengde_2, #id_m_mengde_3, #id_m_mengde_4, #id_m_mengde_5, #id_h_mengde_1, #id_h_mengde_2, #id_h_mengde_3, #id_h_mengde_4, #id_h_mengde_5 {
    width: 100%;
}

.asteriskField {
    display: none;
}

.dashboard_container {
  overflow: auto;
}

#chart1, #chart2 {
  height: 300px;
}

.container {
  overflow: hidden;
}

.venstre {
  display: inline;
  float: left;
}

.høyre {
  display: inline;
  float: right;
}

.nt {
  height: 143px;
  background: white;
  position: relative;
  box-sizing: border-box;
}

.midtstilt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.midtstilt_horisontalt {
  text-align: center;
  padding-top: 80px;
}

.delButton {
  height: 38px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 11.5px;
  padding-right: 11.5px;
 }
[class='custom-control custom-checkbox'] { display: none }
