/* Link: https://work.smarchal.com/twbscolor/4.0.0/css/ffffffc0392b6f6f6fa5a5a50 */

.navbar {
  background-color: #ffffff;
  padding-left: 0em;
  padding-right: 0em;
}
.navbar .navbar-brand {
  color: #030e07;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #a5a5a5;
}
.navbar .navbar-text {
  color: #030e07;
}
.navbar .navbar-text a {
  color: #a5a5a5;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #a5a5a5;
}
.navbar .navbar-nav .nav-link {
  color: #030e07;
  border-radius: .25rem;
  margin: 0 0;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #a5a5a5;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #a5a5a5;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #030e07;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #030e07;
}
.navbar .navbar-link {
  color: #030e07;
}
.navbar .navbar-link:hover {
  color: #a5a5a5;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #030e07;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5a5a5;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5a5a5;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #030e07;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5a5a5;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5a5a5;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #030e07;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5a5a5;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5a5a5;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #030e07;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a5a5a5;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a5a5a5;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #030e07;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #a5a5a5;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #a5a5a5;
  background-color: #c0392b;
}
